body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #E2E2E2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Nohemi', sans-serif;
    color: #007B0C;
    font-weight: bold;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    position: relative;
    height: calc(100vh - 100px);
    padding-bottom: 15vh;
    box-sizing: border-box;
}

.intro {
    grid-column: 3 / span 5;
    align-self: center;
}

h1 {
    font-family: 'Nohemi', sans-serif;
    font-size: 48px;
    margin-bottom: 20px;
}

.highlight {
    color: #007B0C;
}

.roles {
    display: flex;
    gap: 10px;
}

button {
    background-color: #007B0C;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: 'Nohemi', sans-serif;
    cursor: pointer;
}

.star-asset {
    position: absolute;
    left:-4%;
    top: 32%;
    width: 200px;
    height: 200px;
    background-color: #007B0C;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    /* z-index: 1000;
    transition: top 1s ease-in, transform 1s ease-in; */
}

/* 
.star-asset.falling{
    top: 100vh;
    transform: rotate(720deg);
}
 */

.cta {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.cta{
    font-size: 20px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin-bottom: 10px;
}

.description { 
    grid-column: 9/ span 6;
    align-self: center;
    font-size: 18px;
    line-height: 1.6;
    color: #000;
    padding-top: 15px;
}

.chevron {
    width: 20px;
    height: 20px;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    transform: rotate(45deg);
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.chevron:hover {
    transform: rotate(45deg) scale(1.2);
}

#projects {
    min-height: 100vh;
    background-color: #E2E2E2; /* Light gray background, adjust as needed */
    padding: 50px 0;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}



@media (max-width: 768px) {
    .intro, .description {
      grid-column: 2 / span 10; /* Full width on smaller screens */
    }
    
    .description {
      margin-top: 20px; /* Add some space between intro and description on small screens */
    }
  }